name: "Test"

on:
  pull_request:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: arcnmx/ci/actions/nix/install@master
      - name: Run "cargo --version && rustc --version"
        run: nix-shell --command "cargo --version && rustc --version"

      - name: Run "cargo test --all"
        run: nix-shell --command "cargo test --all"

  test_no_default_features:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: arcnmx/ci/actions/nix/install@master
      - name: Run "cargo --version && rustc --version"
        run: nix-shell --command "cargo --version && rustc --version"

      - name: Run "cargo test --all --no-default-features"
        run: nix-shell --command "cargo test --all --no-default-features"
